{% extends 'index.html' %}

<!--this block will display the user message that contents are copied and provide a back button for previous pilot-->
{% block price_disp %}
    {% for key, dct in items.items() %}
        <div>
            Item: {{ key }}
        </div>
        <div>
            Sell: {{ dct["sell_price"] }} isk
        </div>
        <div>
            Buy: {{ dct["buy_price"] }} isk
        </div>
        <div>
            Total (90% * quantity): {{ dct["total_price"] }} isk
        </div>
        <hr>
    {% endfor %}
    <div>
        Total Contract Price (We Pay!): {{ total }}
    </div>
{% endblock %}